.nuclear-container {
  background: linear-gradient(to bottom, darkgreen, rgb(75, 116, 75));
  color: white; 
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  box-sizing: border-box;
}

.nuclear-description {
  margin: 20px 0; 
}

.nuclear-title {
  text-align: center;
  margin-top: 20px;
}

.nuclear-chart {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 40px;
    width: 1000px;
  max-width: 90%;
}
