.home-container {
  background: linear-gradient(to bottom, rgb(16, 26, 103), rgb(81, 80, 125));
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.home-description {
  margin: 20px 0;
  color: white; 
}

.home-title {
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  .charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .chart {
    width: 600px;
    margin:20px;
  }
  
  .chart-title {
    text-align: center;
    color: white;
  }