.nuclear-container {
  background-color: darkgreen;
  color: white; 
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  box-sizing: border-box;
}

.nuclear-description {
  margin: 20px 0; 
}

.nuclear-title {
    text-align: center;
    margin-top: 20px;
  }

  .nuclear-chart {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  